.navbar-custom {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.navbar-brand-custom {
  color: #ffffff;
  font-size: 16px;
  font-weight: 1000;
  padding: 8px 20px;
  cursor: default;
  text-decoration: none;
}

.navbar-brand-custom:hover {
  color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}


.navbar-logo {
  height: 40px;
  margin-right: 20px;
}


.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.nav-links .nav-link {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
  color: #00FFFF !important;
}

.nav-links .nav-link:hover {
  color: #ff69b4;
  text-decoration: none;
}

.join-btn {
  margin-left: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #00e5ff;
  border-radius: 25px;
  color: #00e5ff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.join-btn:hover {
  background-color: #00e5ff;
  color: #ffffff;
}