.partners-header {
    background-color: #e91185;
    color: #fff;
    height: 40vh;
}

.section-title {
    font-size: 3rem;
    font-weight: 800; 
    margin-bottom: 20px;
    margin-top: 10rem;
}

.section-subtitle {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: #fff;
}

.btn-custom {
    background-color: #ff69b4; /* Pink color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-custom cta-btn mt-4{
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    margin-top: 4rem;
}

.btn-custom:hover {
    background-color: #c2185b; /* Darker shade of pink for hover effect */
}

.btn-custom:focus {
    outline: none;
}

.partner-card {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

.partner-logo-container {
    width: 400px;
    height: auto;
}

.partner-logo {
    max-width: 100%;
    height: auto;
}

.partner-title {
    font-size: 2rem;
    font-weight: bold;
}

.partner-description {
    margin-top: 1.5rem;
}

.partner-info {
    flex: 1;
    margin-right: 4rem;
}

.learn-more-container{
    margin-top: 2rem;
}

.learn-more-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: margin-left 0.3s;
}

.learn-more-btn .arrow {
    font-weight: bold;
    transition: margin-left 0.3s;
}

.learn-more-btn:hover {
    margin-left: 5px; 
}


.cta-section {
    background-color: #0056b3;
    color: #fff;
    height: 50vh;
}

.cta-title {
    font-size: 2rem;
    font-weight: bold;
}

.cta-subtitle {
    color: #fff;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-top: 4rem;
}

.cta-btn {
    background-color: #e91185;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    margin-top: 4rem;
}

@media (min-width: 992px) {
    .partner-card {
        flex-direction: row;
        align-items: center;
    }
}

.btn-partner {
  background-color: #00e5ff; /* New color */
  color: black; /* Black text */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-partner:hover {
  background-color: #ff69b4; /* Pink color for hover effect */
  color: white; /* White text on hover */
}