.hero-container {
    background: #ffffff;
    padding: 150px 100px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero-content {
    max-width: 50%; 
    text-align: left; 
  }
  
  .hero-title {
    font-size: 4rem; 
    font-weight: 800; 
    line-height: 1.2; 
  }
  
  .highlight {
    color: #ff69b4; 
  }
  
  .hero-subtitle {
    font-size: 1.5rem; 
    margin: 20px 0;
    line-height: 1.6; 
    color: #4a4a4a; 
  }
  
  .hero-button {
    background: transparent;
    color: #000;
    padding: 15px 30px;
    border: 2px solid #000; 
    border-radius: 25px; 
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out; 
    display: flex;
    align-items: center;
  }
  
  .hero-button .hero-arrow {
    margin-left: 10px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .hero-button:hover .hero-arrow {
    margin-left: 15px; 
  }
  
  .hero-button:hover {
    background-color: #000; 
    color: #ffffff;
  }
  
  .hero-image {
    max-width: 40%;
    text-align: center;
  }
  
  .hero-logo {
    width: 100%;
    height: auto; 
  }
  
  
  